---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource/m-plus-rounded-1c/400.css";
import "@fontsource/m-plus-rounded-1c/500.css";
import "@fontsource/m-plus-rounded-1c/700.css";
import "katex/dist/katex.css";

// blog styles
import "../styles/variables.styl";
import "../styles/main.css";
import "../styles/markdown-extend.styl";
import "../styles/transition.css";
import "../styles/scrollbar.css";
import "../styles/expressive-code.css";

import FaviconLinks from "@components/FaviconLinks.astro";
import LoadingCover from "@components/LoadingCover.astro";
import SEOMeta from "@components/SEOMeta.astro";
import ThemeScript from "@components/ThemeScript.astro";
import { profileConfig, siteConfig } from "@/config";
import { PAGE_WIDTH } from "../constants/constants";
import { defaultFavicons } from "../constants/icon";
import type { Favicon } from "../types/config";
import { pathsEqual, url } from "../utils/url";

interface Props {
	title?: string;
	banner?: string;
	description?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
}

let { title, banner, description, lang, setOGTypeArticle } = Astro.props;

// apply a class to the body element to decide the height of the banner, only used for initial page load
// Swup can update the body for each page visit, but it's after the page transition, causing a delay for banner height change
// so use Swup hooks instead to change the height immediately when a link is clicked
const isHomePage = pathsEqual(Astro.url.pathname, url("/"));

// defines global css variables
// why doing this in Layout instead of GlobalStyles: https://github.com/withastro/astro/issues/6728#issuecomment-1502203757
const configHue = siteConfig.themeColor.hue;
if (!banner || typeof banner !== "string" || banner.trim() === "") {
	banner = siteConfig.banner.src;
}

// TODO don't use post cover as banner for now
banner = siteConfig.banner.src;

const enableBanner = siteConfig.banner.enable;

let pageTitle: string;
if (title) {
	pageTitle = `${title} - ${siteConfig.title}`;
} else {
	pageTitle = `${siteConfig.title} - ${siteConfig.subtitle}`;
}

const favicons: Favicon[] =
	siteConfig.favicon.length > 0 ? siteConfig.favicon : defaultFavicons;

if (!lang) {
	lang = `${siteConfig.lang}`;
}
const siteLang = lang.replace("_", "-");
---

<!doctype html>
<html
	lang={siteLang}
	class="bg-[var(--page-bg)] transition text-[14px] md:text-[16px]"
	data-overlayscrollbars-initialize
>
	<head>
		<title>{pageTitle}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={description || pageTitle} />
		<meta name="author" content={profileConfig.name} />

		<meta property="og:site_name" content={siteConfig.title} />
		<SEOMeta
			title={pageTitle}
			description={description || pageTitle}
			url={Astro.url}
			isArticle={setOGTypeArticle}
		/>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<FaviconLinks favicons={favicons} />

		<ThemeScript configHue={configHue} />

		<style
			define:vars={{
				configHue,
				"page-width": `${PAGE_WIDTH}rem`,
			}}
		></style>

		<slot name="head" />

		<link
			rel="alternate"
			type="application/rss+xml"
			title={profileConfig.name}
			href={`${Astro.site}rss.xml`}
		/>
	</head>
	<body
		class="min-h-screen transition"
		class:list={[
			{ "lg:is-home": isHomePage, "enable-banner": enableBanner },
		]}
		data-overlayscrollbars-initialize
	>
		<div id="config-carrier" data-hue={siteConfig.themeColor.hue}></div>

		<LoadingCover />
		<slot />
	</body>
</html>

<script>
	import "overlayscrollbars/overlayscrollbars.css";
	import "photoswipe/style.css";

	import {
		getHue,
		getStoredTheme,
		setHue,
		setTheme,
	} from "../utils/settings";
	import { initLenis } from "@lib/browser/lenis";
	import { initCustomScrollbar } from "@lib/browser/scrollbar";
	import { initPhotoSwipe } from "@lib/browser/photoswipe";
	import { initSwupHooks } from "@lib/browser/swup-hooks";
	import { initScrollBehavior } from "@lib/browser/scroll-behavior";
	import { initClickOutsideHandlers } from "@lib/browser/click-outside";
	import { initLoadingCover } from "@lib/browser/loading-cover";
	import { initNavbar } from "@lib/browser/navbar";

	function loadTheme() {
		const theme = getStoredTheme();
		setTheme(theme);
	}

	function loadHue() {
		setHue(getHue());
	}

	function init() {
		loadTheme();
		loadHue();
		initLoadingCover();
		initCustomScrollbar();
		initLenis();
		initClickOutsideHandlers();
		initSwupHooks();
		initScrollBehavior();
		initPhotoSwipe();
		initNavbar();
	}

	/* Load settings when entering the site */
	init();
</script>
